body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, rgb(255, 140, 45), rgb(233, 27, 112));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  gap: 50px;
}

.box {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #ffffff;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-bottom: 20px;
}

.box + .box {
  margin-top: 50px;
}

.profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: 20px;
  object-fit: cover;
}

.box p {
  font-size: 10px;
  margin: 0;
}

.box h2 {
  margin: 10px 0 5px 0;
}

.rect-box1,
.rect-box2 {
  width: 160px;
  height: 28px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-decoration: none;
  cursor: pointer;
}

.rect-box1 {
  border: 1.5px solid #ffffff;
  background: #ffffff;
  color: black;
}

.rect-box1:hover {
  background: #e0e0e0;
}

.rect-box2 {
  border: 2px solid #ffffff;
  color: white;
}

.rect-box2:hover {
  background: rgba(255, 255, 255, 0.2);
}
